* {
    box-sizing: border-box;
}




/* NavBar */

.navbar-flex {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    height: 70px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
}

.navbar-flex-item {
    margin: auto;
}

.navbar-flex-item .navbar-button-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
/* .navbar-flex-item--end{
    /* display: flex;
    justify-content: space-between;
    height: 100%; */

.navbar-button-group {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
}
.navbar-button-group button {
    padding: 0;

}
.navbar-button-group .nav-link:last-child {
    margin-left: -16px;
}

.navbar-brand .leap-button {
    display: inline-block;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    padding: 5px 50px;
    margin: 10px 20px;
    background: linear-gradient(to right, #ff3366, #f98bd9);
}

.navbar-brand .leap-button:hover {
    background: linear-gradient(to right, #f98bd9, #ff3366);
}

.navbar-collapse ul li a {
    margin-right: 15px;
}


/* 
button#downvote,
button#upvote {
    background: none;
    border: none;
}
button#downvote:hover,
button#upvote:hover {
    border: 1px solid #cccccc;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.7);
} */

.grow:hover {
    transform: scale(1.1);
}

.grow {
    transition: all .2s ease-in-out !important;
}


#vote {
    color: white;
}

.main-screen .navbar li.nav-item .profile-panel .nav-item > .nav-link{
    line-height: 70px;
}
/* end of NavBar */

/* Main SCREEN */
.main-screen {
    background: #454545;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* Iframe */
.main-screen .frame {
    background: black;
    margin: 20px auto;
    width: 95%;
    box-shadow: 0 10px 50px 5px rgba(0,0,0,0.7);
    border-radius: 10px;
    overflow: hidden;
    border: none;
}

/* end Iframe */
/* Main SCREEN */
iframe {
    background: url("/assets/loading.gif") center center no-repeat;
}

#share .dropdown-item {
    display: inline !important;
    width: auto !important;
    padding: 0 0.5em !important;
}

/* Profile SCREEN */

/* end Profile SCREEN */

/* SimpleNavbar */
.main-screen nav.simple-navbar {
    display: flex;
    height: 100px;
    background: black;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    /* overflow: hidden; */
}

nav.simple-navbar .home-button{
    display: inline-block;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    padding: 5px 45px;
    margin: 10px 20px;
    background: linear-gradient(to right, #ff3366, #f98bd9);
}

.main-screen .profile-panel, nav.simple-navbar .profile-panel{
    display: block;
    height: 100%;
    position: relative;
}
.profile-panel .nav-item > a.nav-link{
    display: block;
    color: #6b6a6a;
    text-decoration: none;
    height: 100%;
    line-height: 100px;
    white-space: nowrap;
    padding: 0 1rem;
    border-top: 3px solid transparent;
}
.main-screen .profile-panel .nav-item > a.nav-link:hover{
    border-top: 3px solid #d85697;
    color: #d85697;
}

.main-screen .profile-panel .nav-item > a.nav-link:active{
    border-top: 3px solid #d85697;
    color: #d85697;
}

.profile-panel li {
    list-style-type: none;
    height: 100%;
    display: block;
}

.profile-panel li.nav-item .dropdown-menu{
    background: #000000;
    padding: 0;
    border: none;
}
.profile-panel li.nav-item .dropdown-menu button.dropdown-item{
    padding: .25rem .5rem;
}
.profile-panel li.nav-item .dropdown-menu button.dropdown-item:hover{
    border-top: 3px solid #d85697;
    color: #d85697;
    background: #6b6a6a;
}
.profile-panel li.nav-item .dropdown-menu a.nav-link {
    color: white;
    border-top: 3px solid transparent;
}

/* end SimpleNavbar */
@media screen and (max-width:768px) {
    .navbar-flex-item--end {
        position: relative;
        left: 23px;
        top: -10px;
        margin-bottom: 70px;
        margin-left: 60px;
    }
    .navbar-button-group {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar-button-group a {
        margin: 0 !important;
    }
    .navbar {
        height: 130px;
    }
}