*{box-sizing: border-box;}


/* NavBar */
.navbar-flex{
    justify-content: center;
    align-items: center;
    width: 100%;    
    padding: 0 20px;
    height: 70px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
}

.navbar-flex-item{
    margin: auto;
}

.navbar-flex-item .navbar-button-group{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
/* .navbar-flex-item--end{
    /* display: flex;
    justify-content: space-between;
    height: 100%; */

.navbar-button-group{
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
}


.navbar-brand .leap-button{
    display: inline-block;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    padding: 5px 50px;
    margin: 10px 20px;
    background: linear-gradient(to right, #ff3366, #f98bd9);
}

.navbar-collapse ul li {
    margin-right: 15px;
}
/* end of NavBar */

/* Main SCREEN */
.main-screen {
    background: #454545;
}

/* Iframe */
.main-screen .frame{
    background: white;
    margin: 20px auto;
    width: 95%;
    height: 100%;
    box-shadow:0px 10px 50px 5px rgba(0,0,0,0.7);
    border-radius: 10px;
    overflow: hidden;
    border: none;
}
.main-screen iframe{
}
/* end Iframe */
/* Main SCREEN */



