*{box-sizing: border-box;}


/* NavBar */
.navbar-flex{
    justify-content: center;
    align-items: center;
    width: 100%;    
    padding: 0 20px;
    height: 70px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
}

.navbar-flex-item{
    margin: auto;
}

.navbar-flex-item .navbar-button-group{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.navbar-flex-item--end{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.navbar-button-group{
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
}

.navbar-brand .leap-button{
    border-radius: 50px;
    border: none;
    font-size: 24px;
    padding: 5px 50px;
    margin: 0 20px;
    background: linear-gradient(to right, #ff3366, #f98bd9);
}
/* end of NavBar */

/* Main SCREEN */
.main-screen {
    background: #454545;
}

/* Iframe */
.main-screen .frame{
    padding: 0 30px;
}
.main-screen iframe{
    margin: 20px 0px;
    box-shadow:0px 10px 50px 5px rgba(0,0,0,0.7);
}
/* end Iframe */
/* Main SCREEN */



